.homeAgric{height:auto}
.homeAgricDivs{margin-bottom: 15px}
.header1{text-align: center;font-size: 61px;  font-family: Times New Roman, Times, serif;}
.navbar{background:#1e9823 }
.img_header{height:60px;width:75%}
.middle_image{background-image: url(1.jpg);}
.nav-item{padding-left: 20px;font-size: 18px}
#img_div{ height: 230px;width: 100%;
 background-image: url('img/dark_green.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}
.motto{font-family: "Roboto Slab",Georgia,serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: inherit;
    text-transform: none;
}
.motto-after{
	font-family: "Roboto Slab",Georgia,serif;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: inherit;
    text-transform: none;
}
.our-priority-header{
	font-family: "Roboto Slab",Georgia,serif;
}
.faqHeader{
	font-family: "Roboto Slab",Georgia,serif;
	 font-size: 50px;
    font-weight: 400;
    letter-spacing: .15px;
    text-align: inherit;
    text-transform: none;
}
.priority_header{
	font-family: "Roboto Slab",Georgia,serif;
	 font-size: 38px;
    font-weight: 400;
    letter-spacing: .15px;
    text-align: inherit;
    text-transform: none;
}
.nav-link{color: white}
.nav-link:hover{color: white}
.about_food{
	font-family: "Roboto Slab",Georgia,serif;
	 font-size: 19px;
    font-weight: 400;
    letter-spacing: .15px;
    text-align: inherit;
    text-transform: none;
}
.provide{
	font-family: "Roboto Slab",Georgia,serif;
	 font-size: 30px;
    font-weight: 400;
    letter-spacing: .15px;
    text-align: inherit;
    text-transform: none;
}
.toll_free{
	font-family: "Roboto Slab",Georgia,serif;
	 font-size: 30px;
    font-weight: 400;
    letter-spacing: .15px;
    text-align: inherit;
    text-transform: none;
    color: #377537;
}
.we-offer{
	border-bottom: 1px dotted #ccc;
	color: black;
	font-size: 18px;
	margin-top: 15px
}

.question{
	cursor: pointer;
	background: green;color: white;
	height: 30px;
	width: 10%
}
.footer{
	
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.prefix.active {
    color: green;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
   }
  .add {font-family: 'Poppins',sans-serif;}
  .img_sponsor{width: 70%;border-radius: 50px
  }
  .iframe{width: 100%}
  .footer{

  }
  .logo{
  	width: 20%;height: 50px;
  	background-image: url('img/logo.png');background-repeat: no-repeat;background-size: cover;
  }

  .img_logo{
  	    width: 134px;
    height: 50px;
    border-radius: 7px;
  }

  .our-services .img{
  		text-align: center
  }

  .our-services .img img{
  height:150px;
  width: 60%;
}

  .our-services .img img.fourth{
  height:150px;
  width: 50%;
}


 .our-services h5{
  		text-align: center
  }

 .our-services p{
  		font-family: serif;
  		font-size: 18px;
  		text-align:center;
  }

   .our-services .service:hover{
  		border: 1px solid red;
  		cursor:pointer;	
  }

   .our-services a{
    color:black; 
  }
  .forumH1{
    font-family: "Roboto Slab",Georgia,serif;
   font-size: 19px;
    font-weight: 400;
    letter-spacing: .15px;
    text-align: inherit;
    text-transform: none;
  }
